#include <iostream>
using namespace std;

int main(){
 
 //(Expressao) ? valor: valor 2
system("cls");
 int x, n;
 x=5;

std::cout << "Write here:\n" ;
cin >> n;
 
(n >=12) ? x++ : x-- ;

std::cout<< "Run away\n" << x <<"\n";
       
  return 0;
}
